@orange: #FF5A0B;
@red: #FF0000;
@deepRed:#B90504;
@kissRed:#990100;
@cream:#FFF2BC;
@grey:#806F66;
@fiftyShades: #E8E8E8;
@dark:#383636;
@theDarkness: #333333;
.call{

}
.response{
  background-color: #111;
color: #fffff8;
}

#response {
  font-size:11px; 
  line-height: 1.125em;
    padding:0px;
  margin: 0px;
}
/*Text input box*/

#textarea-a {
  padding-left: 50px;
  position:relative;
}
/*Folding Annotations*/
h1, .instructions, pre, footer {
  // width: 600px;
  margin: auto;
}



.instructions {

  overflow: hidden;
  // max-height: 250px;
/*  background-color:#920022;*/

  -webkit-transition: max-height 0.9s, opacity 0.3s 0.3s;
  transition: max-height 0.9s, opacity 0.3s 0.3s;
   font-family: ETBembo, Palatino, "Palatino Linotype", "Palatino LT STD", "Book Antiqua", Georgia, serif;
       background-color: #fffff8;
       color: #111;
}
.instructions-hidden .instructions {

  max-height: 0;
  opacity: 0;
  -webkit-transition: max-height 0.9s, opacity 0.3s;
  transition: max-height 0.9s, opacity 0.3s;
}

pre {
  font-size: 24px;
}

.code {

}

#toggle {
  position: fixed;
  right: 12px;
  top: 128px;
    /*bottom: 12px;*/
  height: 48px;
  width: 48px;
  border: 0;
  outline: 0;
  font: 22px Fontawesome;
  border-radius: 24px;
  cursor: pointer;
  color: #fff;
  background: #ff6f00;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}



/*Flip*/

#card{


}

.front{

}

.back{

}







body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6,
pre, form, fieldset, input, textarea,
p, blockquote, th, td { 
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset, img {
  border: 0;
}
address, caption, cite, dfn, th, var {
  font-style: normal;
  font-weight: normal;
}
caption, th {
  text-align: left;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before, q:after {
  content: '';
}
abbr, acronym {
  border: 0;
}


/*------------------------------------*
  MAIN
*------------------------------------*/

html {
  font-family: Cambria, Georgia, "Times New Roman", Times, serif;
  background: url(…/img/css/grid-01.png) center top repeat-y #fff;
  // color: #333;
}

body {
  background-color: @tufteBack;
  width: 540px;
  margin: 0 auto;
   // line-height: 1.5em;
   font-size:1.125em;
   line-height:  1.6875em;
   padding-top: 81px;
}

/*------------------------------------*
  TYPE
*------------------------------------*/
/*--- HEADINGS ---*/

h1, h2, h3, h4, h5, h6 {
  margin-bottom: 27px;
  font-weight: bold;
  margin-bottom: 24px;
  font-weight: bold;
}

h1 {
  font-size: 1.6875em; /* 27px --> 27 ÷ 16 =  */
  line-height: 1.125em; /* 27px --> 27 ÷ 24 =  */
}

h2 {
  font-size: 1.3125em; /* 21px --> 21 ÷ 16 =  */
  line-height: 1.227272727em; /* 27px --> 27 ÷ 22 =  */
}

h3 {
  font-size: 1.125em; /* 20px --> 20 ÷ 16 = 1.25 */
  line-height: 1.5em; /* 24px --> 24 ÷ 20 = 1.2 */
}

h4 {
  // font-size: 1.125em; /* 18px --> 18 ÷ 16 = 1.125 */
  // line-height: 1.333em; /* 24px --> 24 ÷ 18 = 1.3333333(3) */
}

h5, h6 {
  // font-size: 1em; /* 16px --> 16 ÷ 16 = 1 */
  // line-height: 1.5em; /* 24px --> 24 ÷ 16 = 1.5 */
}

/*--- PARAGRAPHS ---*/

p {
  margin-bottom: 27px;
}